body {
    margin: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt;
}

header {
    grid-area: rub;
    background-color: #056352;
    padding: 5px 0px;
    text-align: center;
    font-size: 20px;
    color: #bcf9ef;
}

nav {
    display: grid;
    grid-area: nav;
    background-color: #5ce8d0;
    border-style: none solid none none;
    border-color: #3BA593;
    border-width: 3px;
    padding: 0px 5px;
    padding-left: 10px;
}

main p {
    text-align: center;
    padding: 0px 300px;
    font-size: 25px;
}


main {
    display: grid;
    grid-area: main;
    background-color: #9ef7e8;
    text-align: center;
}



.hemsida {
    display: grid;
    color: #1b463f;
    grid-template-areas: 'rub rub rub rub'
                        'nav main main main'
                        'nav main main main'
                        'nav main main main'
                        'nav main main main'
                        'nav main main main'
                        'nav main main main'
                        'nav main main main'
                        'nav main main main';
}